* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;
    background: rgb(243, 243, 243);
}

.container {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.phone {
    display: flex;
}

.box-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 1.2rem;
}

.box:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1rem;

}

.profile-photo img {
    width: 150px;
    height: 150px;
}

.button-login {
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
}

.button-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}


.link-blue {
    color: #0095f6;
    cursor: pointer;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('/images/gplay.png');

}

.app-download:nth-child(2) {
    background-image: url('/images/appstore.png');
    
}

/* Banner Rotativo */

#slider {
    width: 240px;
    height: 427px;

    position: fixed;
    margin: 99px 0 0 151px;
}

#slider img {
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected {
    opacity: 1;
}

/* Media queries */

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 880px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 820px) {
    .container {
        justify-content: center;
    }
    .phone {
        max-width: 70%;
        max-width: 70%;
    }
    .box-login {
        width: 70%;
    }

    .download {
        flex-direction: column;
    }
}

@media screen and (max-width: 770px) {
    body {
        background: #fff;
    }
    .container {
        justify-content: center;
    }
    .phone {
        display: none;
        position: relative;
    }

    .box {
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 450px) {
    .box-login {
        width: 100%;
    }
}
